@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root{
    --accent-color: rgb(26, 26, 33);
    --main-color: rgb(240, 242, 250);
}



*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}


button{
    border-radius: 15px;
    border-style: none;
    padding: 7px;
    width: 75px;
}

button:hover{
    color: var(--main-color);
    background-color: var(--accent-color);
}


a{
    text-decoration: none;
    color: var(--main-color);
}

ul{
    display: flex;
    flex-direction: column;
}
li{
    list-style: none;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-block: 5px;
}

li:hover{
    color: #0284c7;
    transition: color 0.5s ease;
}

.main-container{
    background-color: var(--main-color);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 2fr;
}


.header{
    background-color: rgba(2, 132, 199, 0.8);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 4;
    padding: 20px;
    margin-top: 20px;
    margin-inline: 10px;
    border-radius: 30px;
}

.top-header,
.bottom-header{
    display: flex;
    justify-content: space-between;
}

.input-container > svg{
    width: 35px;
    margin-right: 10px;
}

input{
  border-radius: 25px ;
  border-style: none;
  height: 5px;
  width: 400px;
  padding: 15px;
  background-image: url(assets/magnify.svg);
  background-repeat: no-repeat;
}

.user-bell{
    width: 165px;
    display: flex;
}

.bell{
    width: 30px;
    height: 30px;
    margin-right: 15px;
    filter: invert(100%);
}

.welcome{
    margin-top: 25px;
    align-self: center;
    justify-self: center;
}

.user-welcome,
.button-container{
    align-self: end;
}

.user-welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}
.greeting{
    align-items: end;
}

.main-pic{
    width: 80px;
    height: 80px;
}
.main-icon{
    margin-right: 15px;
}


.sidebar{
    background-color: var(--accent-color);
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: 60px 175px 150px;
    gap: 35px;
    padding: 10px;
}

.link{
    display: flex;
    align-items: center;
}
.icon{
        width: 25px;
        height: 25px;
        margin-inline: 5px;
        filter: invert(100%);
}


#title{
  padding: 10px;
  color: var(--main-color);
}

.sidebar > div{
    padding: 10px;
    color: white;
}


.content{
    background-color: var(--main-color);
    grid-column: span 2;
    grid-row: span 2;
    display: grid;
    grid-template-columns: 350px 350px 400px;
    grid-template-rows: 175px 175px 150px;
    gap: 15px;
    grid-auto-flow: column;
    padding: 20px;
}

.content > div {
    background-color: #cbd5e1;
    border-radius: 10px;
    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.1),
            0 2px 6px -2px rgba(0, 0, 0, 0.2);
    padding: 6px;
}

.p-card h4,
.announcements h4,
.trending h4{
   color: var(--accent-color);
   font-weight: bolder;
   text-decoration: underline;
   text-align: center;
}

.p-card:hover{
    box-shadow: 1px 2px 2px 1px #0284c7;
    transition: 0.5s;
}


.announcements{
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.announcements h5, p{
    text-align: center;
}

.announcements h5{
    color: darkblue;
    font-weight: bolder;
    letter-spacing: 1.5;
    margin-block: 7px;
}
.announce-top{
    margin-bottom: 7px;
}
 
.trending{
    display: grid;
    grid-template-rows: 45px 1fr 1fr 1fr;
    gap: 3px;
    padding: 5px;
    justify-content: center;
    grid-row: -3 / -1;
}

.trend-user::before{
    content: url(assets/user-profile-svgrepo-com.svg);
}