*{
    margin: 0;
    padding: 0;
}

.main-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 2fr;
}


.header{
    background-color: #9ca3af;
    grid-column: 2 / 4;
}

.sidebar{
    background-color: #0284c7;
    grid-row: 1 / 4;
}

.content{
    background-color: #111827;
    grid-column: span 2;
    grid-row: span 2;
}