@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root{
    --accent-color: rgb(26, 26, 33);
    --main-color: rgb(240, 242, 250);
}



*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}


img{
    width: 25px;
    height: 25px;
}

button{
    border-radius: 15px;
    border-style: none;
    padding: 7px;
    width: 75px;
}

p{
    padding: 10px;
    color: ;
}


a{
    text-decoration: none;
    color: var(--main-color);
}

ul{
    display: flex;
    flex-direction: column;
}
li{
    list-style: none;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-block: 5px;
}

li:hover{
    color: #0284c7;
    transition: color 0.5s ease;
}

.main-container{
    background-color: var(--main-color);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 2fr;
}


.header{
    background-color: #0284c7;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 4;
    padding: 15px;
    margin-top: 20px;
    margin-inline: 10px;
    border-radius: 30px;
}

.top-header,
.bottom-header{
    display: flex;
    justify-content: space-between;
}

.input-container > svg{
    width: 35px;
    margin-right: 10px;
}

input{
  border-radius: 25px ;
  border-style: none;
  height: 5px;
  width: 400px;
  padding: 15px;
  background-image: url(assets/magnify.svg);
  background-repeat: no-repeat;
}

.welcome{
    margin-top: 25px;
    align-self: center;
    justify-self: center;
}

.user-welcome,
.button-container{
    align-self: end;
}


.sidebar{
    background-color: var(--accent-color);
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 175px 150px;
    gap: 15px;
    padding: 10px;
}

#title{
  padding: 10px;
  color: var(--main-color);
}

.sidebar > div{
    /* border: 1px solid white; */
    padding: 10px;
    color: white;
}


.change-color{
    fill: white;
}


.content{
    background-color: var(--main-color);
    grid-column: span 2;
    grid-row: span 2;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    grid-auto-flow: column;
    padding: 20px;
}

.content > div {
    background-color: lightgrey;
    border-radius: 10px;
    box-shadow: 2px 3px 3px gray;
    padding: 6px;
}

.p-card h4,
.announcements h4,
.trending h4{
   color: var(--accent-color);
   font-weight: bolder;
   text-decoration: underline;
   text-align: center;
   padding: 6px;
}


 